BasedOnStyle: LLVM
IndentWidth: 3
InsertBraces: true
AlignConsecutiveAssignments: true

AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
ContinuationIndentWidth: 3

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: true
  AfterUnion: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false
  SplitEmptyFunction: true
